/* quick reset */
@import '_vars';
@import 'modules/_loginPage';
@import 'modules/_userPage';
@import 'modules/_topNav';
@import 'modules/_decadeNav';
@import 'modules/_signinPage';
@import 'modules/_userStyles';
@import 'modules/_movieStyles';
@import 'modules/_footer';

* { margin: 0; border: 0; padding: 0; }

/*-------------------------------Mobile-------------------------------*/
@media (max-width:445px) {


    #app {
        background-color: white;
    }

    html, body {
        height: 100%;
    }
    
    a { 
        text-decoration: none; 
    
    img .poster { 
        width: 180px;
    }
        a:hover{
            cursor: pointer;
        }
    }

    li:hover{
      cursor: pointer;
    }

   .poster:hover { 
    cursor: pointer;
    outline: white solid 4px;
    }

    body {
        display: flex;
        flex-direction: column;
        // background: rgb(107,63,149);
        // background: radial-gradient(circle, rgba(107,63,149,1) 0%, rgba(18,12,23,1) 100%);
        // // background-color: white;
        // color: #333;
        background-color: white;
        font-size: 16px;
        font-family: arial, helvetica, sans-serif;
    }
    
    main { flex: 1 0 auto; }
    
    .hidden { display: none; }
    
    .logo {
        max-width: 200px;
        width: 100px;
        z-index: 5;
        padding: 10px; 
       
    }


     li {
        text-decoration: none;
      }
      
      
    .hook-vid-cont{
        position: fixed;
    }

    .movie-socialBtns {
        margin-top: 175px;
        color: red;
        position: fixed;
       
    }


    .content-gallery {
        margin-top: 300px;
    }

 
    .content-gallery ul { 
        margin: 0 auto;
    
        li { display: inline-block; padding: 0 8px; }
    }

    a.underline
    {
        position: relative;
        color: black;
        padding: 5px;
    }
    
    a.underline:before {
      cursor: pointer;
      content: "";
      position: absolute;
      border-radius: 15px;
      width: 0;
      height: 4px;
      bottom: 0;
      right: 0;
      background-color: $roku-purple;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    
    
    a.underline:hover:before {
      visibility: visible;
      width: 100%;
    }
    a:hover{
        cursor: pointer;
    }
    

    // end list styles
    
    .video-poster-wrapper { 
        text-align: center;
        margin-top: 0px;
        height: 150px;  
        } 

    .video-poster-wrapper img {
        width: 95px;
        -webkit-box-shadow: 0px 6px 12px -5px #000000; 
        box-shadow: 0px 6px 12px -5px #000000;
    }
    
    .back-home {
        color: white;
        margin-bottom: 16px;
        display: block;
        padding-left: 8px;
    }

    .video-overlay {
        position: absolute;
        background: rgb(19,15,23);
        background: linear-gradient(90deg, rgba(19,15,23,1) 13%, rgba(36,24,47,1) 21%, rgba(65,41,88,0.9353464533773701) 27%, rgba(94,55,130,0.5645599365234375) 35%, rgba(107,63,149,0) 66%);
        z-index: 3;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        display: block;
        position: fixed;
      }

      .video-overlay-back {
        position: absolute;
        background-color: black;
        z-index: 1;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        display: block;
        position: fixed;
      }
    
    .trailerCont video { 
        max-width: 500px;
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        height: 250px;
        position: fixed;
        right: 0;
        z-index: 2;
    }


    
    
    .instructions { padding-top: 30px; text-align: center; }
    
    .up-arrow { text-align: center }
    
    .up-arrow span {
        font-size: 2em;
        padding: 8px 15px 8px;
        border-radius: 50%;
        font-weight: bolder;
        background-color: rgba(255,255,255,0.2);
        cursor: pointer;
        display: none;
    }
    
    .show-scroller {display: inline-block !important; }

}
/*-------------------------------Tablet-------------------------------*/
@media (max-width:768px) and (min-width: 446px){

    html, body {
        height: 100%;
    }
    
    a { 
        text-decoration: none; 
    
    img .poster { 
        width: 180px;
    }
    
    }

   .poster:hover { 
    outline: white solid 4px;
    }

    body {
        display: flex;
        flex-direction: column;
        // background: rgb(107,63,149);
        // background: radial-gradient(circle, rgba(107,63,149,1) 0%, rgba(18,12,23,1) 100%);
        // // background-color: white;
        // color: #333;
        background-color: white;
        font-size: 16px;
        font-family: arial, helvetica, sans-serif;
    }
    
    main { flex: 1 0 auto; }
    
    .hidden { display: none; }

    .logo {
        max-width: 200px;
        width: 100px;
        z-index: 5;
        padding: 10px; 
       
    }


     li {
        text-decoration: none;
      
      }
  

    .hook-vid-cont{
        position: fixed;
    }

    .movie-socialBtns {
        margin-top: 175px;
        color: red;
        position: fixed;
       
    }


    .content-gallery {
        margin-top: 300px;
    }

    
    .content-gallery ul { 
        margin: 0 auto;
    
        li { display: inline-block; padding: 0 8px; }
    }

    a.underline
    {
        position: relative;
        color: black;
        padding: 5px;
    }
    
    a.underline:before {
      cursor: pointer;
      content: "";
      position: absolute;
      border-radius: 15px;
      width: 0;
      height: 4px;
      bottom: 0;
      right: 0;
      background-color: $roku-purple;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    
    
    a.underline:hover:before {
      cursor: pointer;
      visibility: visible;
      width: 100%;
    }
    

    // end list styles
    
    .video-poster-wrapper { 
        text-align: center;
        margin-top: 0px;
        height: 150px;  
        } 

    .video-poster-wrapper img {
        width: 95px;
        -webkit-box-shadow: 0px 6px 12px -5px #000000; 
        box-shadow: 0px 6px 12px -5px #000000;
    }
    
    .back-home {
        color: white;
        margin-bottom: 16px;
        display: block;
        padding-left: 8px;
    }

    .video-overlay {
        position: absolute;
        background: rgb(18,12,23);
        background: linear-gradient(90deg, rgba(18,12,23,1) 0%, rgba(30,20,39,1) 23%, rgba(48,26,66,1) 38%, rgba(74,48,104,1) 46%, rgba(167,127,239,0) 63%);
        z-index: 3;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        display: block;
        position: fixed;
      }

      .video-overlay-back {
        position: absolute;
        background-color: black;
        z-index: 1;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        display: block;
        position: fixed;
      }
    

    .movie-cont {
        justify-content: flex-end;
        top: 0;
        left: 0;
        display: flex;
    }
  
    .trailerCont video { 
        max-width: 500px;
        display: flex;
        margin-top: 0px;
        margin-left: 0;
        height: 250px;
        right: 0;
        z-index: 2;
        position: fixed;
    
    }
    
    .instructions { padding-top: 30px; text-align: center; }
    
    .up-arrow { text-align: center }
    
    .up-arrow span {
        font-size: 2em;
        padding: 8px 15px 8px;
        border-radius: 50%;
        font-weight: bolder;
        background-color: rgba(255,255,255,0.2);
        cursor: pointer;
        display: none;
    }
    
    .show-scroller {display: inline-block !important; }

    
    }
/*-------------------------------Desktop------------------------------*/
@media (min-width: 769px){

        html, body {
            height: 100%;
        }
        
        a { 
            text-decoration: none; 
        
        img .poster { 
            width: 180px;
        }
        
        }
    
       .poster:hover { 
        outline: white solid 4px;
        }
    
        body {
            display: flex;
            flex-direction: column;
            // background: rgb(107,63,149);
            // background: radial-gradient(circle, rgba(107,63,149,1) 0%, rgba(18,12,23,1) 100%);
            // // background-color: white;
            // color: #333;
            background-color: white;
            font-size: 16px;
            font-family: arial, helvetica, sans-serif;
        }
        
        main { flex: 1 0 auto; }
        
        .hidden { display: none; }
        
        .logo {
            max-width: 200px;
            width: 100px;
            z-index: 5;
            padding: 10px; 
           
        }
    
    
         li {
            text-decoration: none;
          }
          
    
        .hook-vid-cont{
            position: fixed;
        }
    
        .movie-socialBtns {
            margin-top: 175px;
            color: red;
            position: fixed;
           
        }

    
        .content-gallery {
            margin-top: 350px;
        }
    
   
        .content-gallery ul { 
            margin: 0 auto;
        
            li { display: inline-block; padding: 0 8px; }
        }
    
        a.underline
        {
            position: relative;
            color: black;
            padding: 5px;
        }
        
        a.underline:before {
          content: "";
          position: absolute;
          border-radius: 15px;
          width: 0;
          height: 4px;
          bottom: 0;
          right: 0;
          background-color: $roku-purple;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
        
        
        a.underline:hover:before {
          visibility: visible;
          width: 100%;
        }
        
    
        // end list styles
        
        .video-poster-wrapper { 
            text-align: center;
            margin-top: 0px;
            height: 150px;  
            } 
    
        .video-poster-wrapper img {
            width: 95px;
            -webkit-box-shadow: 0px 6px 12px -5px #000000; 
            box-shadow: 0px 6px 12px -5px #000000;
        }
        
        .back-home {
            color: white;
            margin-bottom: 16px;
            display: block;
            padding-left: 8px;
        }
        
        .video-overlay {
            position: absolute;
            background: rgb(18,12,23);
            background: linear-gradient(90deg, rgba(18,12,23,1) 0%, rgba(30,20,39,1) 23%, rgba(48,26,66,1) 38%, rgba(74,48,104,1) 46%, rgba(167,127,239,0) 63%);
            z-index: 3;
            display: flex;
            width: 100%;
            margin: 0 auto;
            height: 435px;
            display: block;
            margin-top:-115px;
            position: fixed;
          }

          .video-overlay-back {
            position: absolute;
            background-color: black;
            z-index: 1;
            display: flex;
            width: 100%;
            margin: 0 auto;
            height: 435px;
            display: block;
            margin-top:-115px;
            position: fixed;
          }

     

    .movie-cont {
        justify-content: flex-end;
        top: 0;
        left: 0;
        display: flex;
    }
        
        .trailerCont video { 
            max-width: 100%;
            display: flex;
            margin-top: 0px;
            right: 0;
            height: 300px;
            position: fixed;
            z-index: 2;
        }
        
        // .instructions { padding-top: 30px; text-align: center; }
        
        // .up-arrow { text-align: center }
        
        // .up-arrow span {
        //     font-size: 2em;
        //     padding: 8px 15px 8px;
        //     border-radius: 50%;
        //     font-weight: bolder;
        //     background-color: rgba(255,255,255,0.2);
        //     cursor: pointer;
        //     display: none;
        // }
        
        // .show-scroller {display: inline-block !important; }
    
    }
