<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="css/main.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> 
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script> -->
  <title>Video with Vue</title>
</head>

<body>
  <main id="signIn">


    <h1>Sign In</h1>

    <div class="signCont">
    <div class="signInForm">
        <label for="Email or Phone Number">*Username</label>
        <br>
        <input v-model="input.username" type="text" id="username" name="username" placeholder="Email or phone number">
  
    
    <div>
        <label for="pass">*Password</label>
        <br>
        <input v-model="input.username" type="password" id="pass" name="password" placeholder="Password"
               minlength="8" required>
    </div>
    
    <input v-on:click.prevent="login()" class="signBtn" type="submit" value="Sign in">
    <br>
    <button>Sign Up</button>
    <button>Forgot Password?</button>
  </div>
  
   </div>
  </div>
  </main>

  <footer>
    <p>All content &copy; 2020 Roku Flashback Concept</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script defer src="js/main.js"></script>
</body>

</html>