//Hook movies at the top 

 .show-movie { max-height: 800px; }

.movie-title {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 50px;
  padding: 22px;
  color: white;
  max-width: 45%;
  min-width: 200px;
  z-index: 2;
  position: fixed;
 }

.movie-details {
  position: absolute;
  display: flex;
  margin-top: 80px;
  padding-left: 22px;
  padding-top: 12px;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 125px;
  max-width: 45%;
  color: white;
  z-index: 2;
}

.movie-details h3 {
  margin-top: 8px;
  margin-bottom: 12px;
  position: fixed;
}

.movie-details p { 
  text-align: left; 
  position: fixed;
  max-width: 45%;

}

.movie-socialBtns {
  display: flex;
  position: absolute;
  text-align: left;
  margin-top: 250px;
  z-index: 3;
}

