
.video-overlay {
  position: absolute;
  background: rgb(19,15,23);
  background: linear-gradient(90deg, rgba(19,15,23,1) 13%, rgba(36,24,47,1) 21%, rgba(65,41,88,0.9353464533773701) 27%, rgba(94,55,130,0.5645599365234375) 35%, rgba(107,63,149,0) 66%);
  z-index: 1;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 315px;
  display: block;
  margin-top:-115px;
  position: fixed;

}

// .hidden-movies {
//   display: flex;
//   width: 100%;
//   margin: 0 auto;
//   overflow: hidden;
//   transition: all 0.7s;
//   max-height: 0;
//  }

 .show-movie { max-height: 800px; }

.movie-title {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 50px;
  padding: 22px;
  color: white;
  max-width: 45%;
  min-width: 200px;
  z-index: 2;
  position: fixed;
 }

.movie-details {
  position: absolute;
  display: flex;
  margin-top: 80px;
  padding-left: 22px;
  padding-top: 12px;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 125px;
  max-width: 45%;
  color: white;
  z-index: 2;
}

.movie-details h3 {
  margin-top: 8px;
  margin-bottom: 12px;
  position: fixed;
}

.movie-details p { 
  text-align: left; 
  position: fixed;
  max-width: 45%;

}

.movie-socialBtns {
  display: flex;
  position: absolute;
  text-align: left;
  margin-top: 250px;
  z-index: 3;
}

// .vid-cont {
  
// }